.card{
    border: 1px solid #cecece;
    border-radius: 5px;
    padding: 0.25rem;
    background-color: #ededed;
}

.raise-text{
    transition: transform 0.2s
}

.raise-text:hover{
    cursor: pointer;
    transform: translateY(-2px);
}